<style>
  #map {
    background: #448ee4;
    width: 100%;
  }
  #title {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 35;
    padding: 0 5px;
    background: rgba(256, 256, 256, .65);
    border: 1px solid #005d7e;
    border-radius: 5px;
    z-index: 800;
  }
  #legend {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 280px;
    padding: 0 15px;
    background: rgba(256, 256, 256, .85);
    border: 1px solid #005d7e;
    border-radius: 5px;
    z-index: 800;
  }
  /* Style the button that is used to open and close the collapsible content */
 .collapsible {
   position: absolute;
   top: 85px;
   right: 35px;
   width: 30px;
   height: 30px;
   background: url(../icons/information-15.svg);
   background-size: 30px 30px;
   color: #444;
   cursor: help;
   text-align: left;
   outline: none;
   border-radius: 5px;
   font-size: 15px;
   z-index: 800;
  }

 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active, .collapsible:hover {
   background-color: #005d7e;
  }

 /* Style the collapsible content. Note: hidden by default */
 .content {
   position: absolute;
   display: none;
   overflow: hidden;
   top: 20%;
   left: 20%;
   width: 60%;
   padding: 15px 15px;
   background: rgba(256, 256, 256, .85);
   border: 1px solid #005d7e;
   border-radius: 5px;
   font-size: 12px;
   line-height: 15px;
   z-index: 800;
  }
  body {
  }
  h1 {
    color: #005d7e;
    font-weight: bold;
    font-size: 120%;
  }
  h2 {
      color: #005d7e;
      font-weight: bold;
      font-size: 110%;
  }
  a {
      color: #005d7e;
      font-weight: bold;
  }
  a:hover {
      color: #000000;
  }
</style>
